@model WebApplication1.Models.Person

@{
    ViewBag.Title = "Detail Orang";
}

<h2>@Model.Name</h2>
<p>Email: @Model.Email</p>

<h3>Pengalaman</h3>

<table class="table table-bordered">
    <tr>
        <th>Judul</th>
        <th>Deskripsi</th>
        <th>Aksi</th>
    </tr>

    @foreach (var experience in Model.Experiences)
    {
        <tr>
            <td>@experience.Title</td>
            <td>@experience.Description</td>
            <td>
                @Html.ActionLink("Edit", "EditExperience", "People", new { ids = experience.ExperienceID }, new { @class = "btn btn-primary btn-sm" })
                @Html.ActionLink("Delete", "DeleteExperience", "People", new { ids = experience.ExperienceID }, new { @class = "btn btn-danger btn-sm" })
            </td>
        </tr>
    }
</table>

<p>
    @Html.ActionLink("Tambah Pengalaman", "AddExperience", "People", new { id = Model.PersonID }, new { @class = "btn btn-success" })
    <a href="@Url.Action("Index", "People")" class="btn btn-secondary">Back</a>
</p>

